<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd

In [4]:
res_strg_orig_cols=['DATE TIME',
                    'STATION_ID',
                    'VALUE']

res_strg_new_cols =['datetime',
                    'reservoir_id',
                    'water_acre_feet']

res_strg_rename_dict = {old: new for old, new in zip(res_strg_orig_cols,
                                                     res_strg_new_cols)}

In [101]:
df = pd.read_csv('../ca_dwr_dl/SHA_hrly_strg.csv', usecols=res_strg_orig_cols).rename(index=str,
                                                              columns=res_strg_rename_dict)

In [102]:
df2 = pd.read_csv('../ca_dwr_dl/DAV_hrly_strg.csv', usecols=res_strg_orig_cols).rename(index=str,
                                                              columns=res_strg_rename_dict)

In [103]:
df = df.append(df2, ignore_index=True, sort=True)

In [104]:
df.shape

(58650, 3)

In [105]:
df = df.sort_values(by='datetime').reset_index()

In [106]:
df = df.drop('index', axis=1)

In [107]:
df.replace('---', np.nan, inplace=True)
df.replace('ART', np.nan, inplace=True)
df.replace('BRT', np.nan, inplace=True)

In [108]:
df.water_acre_feet.isna().sum()

659

In [109]:
df.head()

        datetime reservoir_id water_acre_feet
0  20160101 0000          SHA         1427251
1  20160101 0000          DAV           37246
2  20160101 0100          SHA         1427251
3  20160101 0100          DAV           37246
4  20160101 0200          SHA         1427251

In [110]:
df.dtypes

datetime           object
reservoir_id       object
water_acre_feet    object
dtype: object

In [111]:
df.water_acre_feet.fillna(method='ffill', inplace=True)

In [112]:
df.water_acre_feet = df.water_acre_feet.astype(int)

In [113]:
df.dtypes

datetime           object
reservoir_id       object
water_acre_feet     int64
dtype: object

In [116]:
df = pd.DataFrame(df.groupby('datetime')['water_acre_feet'].sum())
df.head()

               water_acre_feet
datetime
20160101 0000          1464497
20160101 0100          1464497
20160101 0200          1464497
20160101 0300          1464771
20160101 0400          1464771

In [117]:
df.shape

(29325, 1)